<div class="container" style="padding-top:40px;">  
    <div class="row">  
      <div class="col-md-6 mx-auto">  
        <div class="card mx-4">  
          <div class="card-body p-4">  
            <form #frm='ngForm' [formGroup]="UserForm" (ngSubmit)="onFormSubmit()">  
              <h1 style="text-align:center">Register</h1>  
            
              <div class="input-group mb-3">  
                <input type="text" class="form-control" placeholder="UserId"  formControlName="UserId">  
              </div>
              
              <div class="input-group mb-3">  
                <input type="text" class="form-control" placeholder="FirstName"  formControlName="FirstName">  
              </div> 

              <div class="input-group mb-3">  
                <input type="text" class="form-control" placeholder="MiddleName"  formControlName="MiddleName">  
              </div>

              <div class="input-group mb-3">  
                <input type="text" class="form-control" placeholder="LastName"  formControlName="LastName">  
              </div>  

              <div class="input-group mb-3">  
                <input type="text" class="form-control" placeholder="Gender"  formControlName="Gender">  
              </div>  

              <div class="input-group mb-3">  
                <input type="text" class="form-control" placeholder="PhoneNumber"  formControlName="PhoneNumber">  
              </div>

              <div class="input-group mb-3">  
                <input type="text" class="form-control" placeholder="Address"  formControlName="Address">  
              </div>  

              <div class="input-group mb-3">  
                <input type="text" class="form-control" placeholder="UserType"  formControlName="UserType">  
              </div> 

              <div class="input-group mb-3">  
                <input type="password" class="form-control" placeholder="Password"  formControlName="Password">  
              </div>  

              <div class="input-group mb-3">  
                <input type="email" class="form-control" placeholder="Email"  formControlName="Email">  
              </div>  
       
              <button type="submit" class="btn btn-block btn-success">Add User</button>  
            </form>  
          </div>  
        </div>  
      </div>  
    </div>  
  </div>  
