<h1>
    Add-User-Details
  </h1>
  <div id="container">
  <form novalidate [formGroup]="frmXReport" (ngSubmit) ="SaveReport()">
    <!-- <div>
      <label>Enter User Id</label><br/>
      <input type="number" name="userid" formControlName="User_id"><br/>
      </div> -->
  
      <div>
        <label>Old Password</label><br/>
        <input type="string" name="bloodgroup" formControlName="OldPasssword"><br/>
        </div>
  
        <div>
          <label>New Password</label><br/>
          <input type="string" name="height" formControlName="NewPassword"><br/>
          </div>
          <div>
            <label>Confirm Password</label><br/>
            <input type="string" name="weight" formControlName="ConfirmPassword"><br/>
            </div>
            <div>
              <input type="submit"  value="Update">
            </div>
            </form>
            </div>
  